{% extends 'products/base.html' %}
{% load static %}
{% block title %}Restablecimiento de contraseña completado{% endblock %}
{% block header %}
    <header>
    <div class="menu">
      <div class="contenedor">
        <div id="introduccion">
          <p class="blanco"><span>Venta Oficial</span> de la marca Saphirus®</p>
          <p class="blanco">Aromatización ambiental</p>
          <p class="blanco">Contamos con toda la linea de productos.</p>
        </div>
        <div id="imagen">
          <img id="logo-login" src={% static "products/imagenes/logo.jpeg" %}>
        </div>
        <div>
          <img id="saphirus" src= {% static 'products/imagenes/saphirus.jpeg' %}>
        </div>
      </div>
    </div>
    <br>
    <br>
    {% block content %}
    <main role="main">
	  <div class="container">
	    <div class="row mt-3">
	      <div class="col-md-9 mx-auto mb-5">
	        <h3 class="mb-4 blanco">Restablecimiento de contraseña completado  </h3>
	        <p class="blanco">Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
	        <p><a class="letra-rosa" href="{% url 'login' %}">Iniciar sesión</a></p>
	      </div>
	    </div>
	  </div>
	</main>
    
    {% endblock %}
  </header>
  {% endblock %}

  {% block footer %}
  <footer>
    <div class="contenedor">
      <ul>
        <li>
          <img class="login-img" src= {% static "products/imagenes/user.png" %}>
          <h3 class="login">Atención Personalizada</h3>
        </li>
        <li>
          <img class="login-img" src= {% static "products/imagenes/carrito.png" %}>
          <h3 class="login">Pedidos Online</h3>
        </li>
        <li>
          <img class="login-img" src= {% static "products/imagenes/map.png" %}>
          <h3 class="login">Envíos a todo el país</h3>
        </li>
        <li> 
          <img class="login-img" src= {% static "products/imagenes/candado.png" %}>
          <h3 class="login">Plataforma de pago seguro</h3>
        </li>       
      </ul>
    </div>
  </footer>
{% endblock %}