{% extends 'products/base.html' %}
{% block content %}

<div class="container mt-5">
<h2 class="text-center"><strong>Listado de Pedidos</strong></h2>
<div class="row">
	<div class="col-md-12">
		<div class="card mt-5" style="height: auto">
			<div class="table-responsive">
			<table class="table">
			  <thead>
			    <tr>			      
			      <th scope="col">Número de Pedido</th>
			      <th scope="col">Usuario</th>
			      <th scope="col">Estado</th>
			    </tr>
			  </thead>
			  <tbody>
			    
			    
			    {% for order in object_list %}
			    <tr>
			      <th scope="row">{{ forloop.counter }}</th>
			      <td>{{ order.user }}</td>
			      <td><a href="{% url 'checkout:index' order.id %}">Ver Pedido</a></td>
			    </tr>
			      {% endfor %}
			    
			  </tbody>
			</table>
			</div>
		</div>
	</div>
	<div class="col-md-12 my-5 text-center">
		<a href="/" class="btn btn-success">INICIO</a>
	</div>
</div>
</div>

{% endblock %}